<div class="navbar-header">
    <div class="logo-container">
        <a routerLink="/home"><img src="../../../assets/aiub_portal_logo_200X70.png" alt="aiub_portal_logo_200X70.png" width="200px"></a>
        <span><img src="../../../assets/5862125_interface_list_menu_ui_view_icon.png" alt="5862125_interface_list_menu_ui_view_icon.png" width="20px">&nbsp;&nbsp;Courses & Results</span>
        <span><img src="../../../assets/8541705_bolt_thunder_icon.png" alt="8541705_bolt_thunder_icon.png" width="20px">&nbsp;&nbsp;Registraion</span>
        <span><img src="../../../assets/4753033_bright_brightness_day_sun_sunny_icon.png" alt="4753033_bright_brightness_day_sun_sunny_icon.png" width="20px">&nbsp;&nbsp;Grade Report</span>
    </div>
    <div class="controls">
        <span (click)="navigateToProfile()">Welcome, {{fullname}}</span>
        <span><img src="../../../assets/7503212_notification_bell_alert_icon.png" alt="7503212_notification_bell_alert_icon.png" width="20px"></span>
        <span><img src="../../../assets/1564529_mechanism_options_settings_configuration_setting_icon.png" alt="1564529_mechanism_options_settings_configuration_setting_icon.png" width="20px"></span>
        <span><img src="../../../assets/4265055_door_exit_get_log_out_icon.png" alt="4265055_door_exit_get_log_out_icon.png" width="20px" (click)="logOut()"></span>
    </div>
</div>