<form [formGroup]="signUpForm" (ngSubmit)="handleSubmit()">
<table>
    <tr>
        <td>
            Sign Up
        </td>
    </tr>
    <tr>
        <td>
            Fullname: 
        <br>
            <input type="text" formControlName="fullname">
            <div *ngIf="Fullname.errors?.['required'] && ( Fullname.touched || Fullname.dirty )">
                Fullname Empty
            </div>
            <div *ngIf="Fullname.errors?.['minlength'] && ( Fullname.touched || Fullname.dirty )">
                Fullname Less Than 5 Characters
            </div>
        </td>
        
    </tr>
    <tr>
        <td>
            Username: 
        <br>
            <input type="text" formControlName="username">
            <div *ngIf="Username.errors?.['required'] && ( Username.touched || Username.dirty )">
                Username Empty
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Phone: 
        <br>
            <input type="text" formControlName="phone">
            <div *ngIf="Phone.errors?.['required'] && ( Phone.touched || Phone.dirty )">
                Phone Empty
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Email: 
        <br>
            <input type="email" formControlName="email">
            <div *ngIf="Email.errors?.['required'] && ( Email.touched || Email.dirty )">
                Email Empty
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Password: 
        <br>
            <input type="password" formControlName="password">
            <div *ngIf="Password.errors?.['required'] && ( Password.touched || Password.dirty )">
                Password Empty
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Confirm Password: 
        <br>
            <input type="password" formControlName="confirmPassword">
            <div *ngIf="ConfirmPassword.errors?.['required'] && ( ConfirmPassword.touched || ConfirmPassword.dirty )">
                Confirm Password Empty
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" [disabled]="signUpForm.invalid" value="Submit">
        </td>
    </tr>
</table>
</form>