<div class="profile">
    <div class="profile-container">
        <table class="info">
            <tr>
                <td colspan="3"><span style="font: large sans-serif;">RIANUL AMIN RIAN</span></td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>Student ID</td>
                <td>:</td>
                <td>21-44589-1</td>
            </tr>
            <tr>
                <td>CGPA</td>
                <td>:</td>
                <td>3.84</td>
            </tr>
            <tr>
                <td>Credit</td>
                <td>:</td>
                <td>131</td>
            </tr>
            <tr>
                <td>Program</td>
                <td>:</td>
                <td>Bachelor of Science in Computer Science & Engineering</td>
            </tr>
            <tr>
                <td>Department</td>
                <td>:</td>
                <td>FACULTY OF SCIENCE & TECHNOLOGY</td>
            </tr>
            <tr>
                <td>Major</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Second Major</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Minor</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Elective</td>
                <td>:</td>
                <td>BScCSE, Summer 17-18, Elective</td>
            </tr>
            <tr>
                <td>Father Name</td>
                <td>:</td>
                <td>Md Ruhul Amin</td>
            </tr>
            <tr>
                <td>Mother Name</td>
                <td>:</td>
                <td>Hena Akter</td>
            </tr>
            <tr>
                <td>Present Address</td>
                <td>:</td>
                <td>Road:1, Area:Khilgaon, PostOffice:Khilgaon, PostCode:1219, PoliceStation:Khilgaon, District:Dhaka, Country:Bangladesh</td>
            </tr>
            <tr>
                <td>Permanent Address</td>
                <td>:</td>
                <td>Road:1, Area:Khilgaon, PostOffice:Khilgaon, PostCode:1219, PoliceStation:Khilgaon, District:Dhaka, Country:Bangladesh</td>
            </tr>
            <tr>
                <td>Verified Contact</td>
                <td>:</td>
                <td>01402246680</td>
            </tr>
            <tr>
                <td>Verified Email</td>
                <td>:</td>
                <td>rianulamin99@gmail.com</td>
            </tr>
            <tr>
                <td>DOB</td>
                <td>:</td>
                <td>01/19/2002</td>
            </tr>
            <tr>
                <td>Sex</td>
                <td>:</td>
                <td>Male</td>
            </tr>
            <tr>
                <td>Nationality</td>
                <td>:</td>
                <td>Bangladesh</td>
            </tr>
            <tr>
                <td>Religion</td>
                <td>:</td>
                <td>Islam</td>
            </tr>
            <tr>
                <td>Marital Status</td>
                <td>:</td>
                <td>Single</td>
            </tr>
            <tr>
                <td>Blood Group</td>
                <td>:</td>
                <td>Bpos</td>
            </tr>
            <tr>
                <td>Admission Date</td>
                <td>:</td>
                <td>08-Feb-2021</td>
            </tr>
            <tr>
                <td>Graduation Date</td>
                <td>:</td>
                <td></td>
            </tr>
        </table>
        <img src="../../../assets/ProfileImage.jpg" alt="ProfileImage.jpg">
    </div>
</div>