.control-panel {
  position: relative;
  width: 100%;
}

.dropdown-header {
  font: medium sans-serif;
  color: white;
  background-color: #004EA2;
  height: 45px;
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  padding: 15px; 
  margin-bottom: 8px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  max-height: 0; /* Initially hide the dropdown */
  overflow: hidden;
  transition: max-height 0.3s ease; /* Add transition for smooth animation */
}

.dropdown.open {
  max-height: 1000px; /* Adjust to a large enough value to accommodate all items */
}

.dropdown button {
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  font: small sans-serif;
  color: #555555;
  width: 100%;
  height: 45px;
  padding: 15px; 
  border-top: 0;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  border-radius: 0px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown button:hover {
  background-color: #f0f0f0;
}
