.application-form{
    position: relative;
    border: 1px solid #dddddd;
    width: 700px;
    padding: 40px;
}

.name{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.firstname{
    width: 100%;
    align-items: left;
    margin-right: 20px;
}

.lastname{
    width: 100%;
    align-items: right;
    margin-left: 20px;
}

.input{
    border-radius: 0px;
    width: 100%;
    margin-top: 15px;
}

.label{
    font: small sans-serif;
}

.fathers-name, .mothers-name, .phone, .email, .current-address, .permanent-address, .msc, .bsc, .university, .cgpa, .aiub-id, .skills{
    margin-bottom: 25px;
}

.button{
    margin-top: 15px;
}
